.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #00000050;
    z-index: 1;
  }
  
.modalContainer {
    width: 30%;
    background-color: #FFFFFF;
    border: 1px solid;
    padding-bottom: 20px;
}

.btn {
    width: 100%;
    margin-top: 15px;
    row-gap: 10px;
}

.close {
    background-color: #FFFFFF;
    border: 1px solid;
}